## TF-IDF
반드시 DTM보다 좋은건 아니니까 항상 비교해봐야 한다

In [1]:
# 데이터 불러오기
import pandas as pd

df = pd.read_excel('C:\\Users\\Owner\\Desktop\\khh\\SeoulICT\\220226\\\\imdb.xlsx', index_col=0)
df.head()

                                              review  sentiment
0  A very, very, very slow-moving, aimless movie ...          0
1  Not sure who was more lost - the flat characte...          0
2  Attempting artiness with black & white and cle...          0
3       Very little music or anything to speak of.            0
4  The best scene in the movie was when Gerardo i...          1

In [3]:
# TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=500, stop_words='english')
tdm = tfidf.fit_transform(df['review'])
word_count = pd.DataFrame({
    '단어' : tfidf.get_feature_names(),
    'tf-idf' : tdm.sum(axis=0).flat
})

word_count.sort_values('tf-idf', ascending=False).head(5)

        단어     tf-idf
284  movie  44.917213
153   film  40.356390
33     bad  25.258572
225   just  20.296871
178   good  18.604656

In [9]:
# 기존의 TDM에서 변환하기
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=500, stop_words='english')
tdm2 = cv.fit_transform(df['review'])

#================================================
word_count = pd.DataFrame({
    '단어' : tfidf.get_feature_names(),
    'tf-idf' : tdm2.sum(axis=0).flat
})

word_count.sort_values('tf-idf', ascending=False).head(5)

        단어  tf-idf
284  movie     182
153   film     163
33     bad      71
225   just      63
178   good      58

In [10]:
# TF-IDF Transformer
from sklearn.feature_extraction.text import TfidfTransformer

trans = TfidfTransformer()
tdm3 = trans.fit_transform(tdm2)

#================================================
word_count = pd.DataFrame({
    '단어' : tfidf.get_feature_names(),
    'tf-idf' : tdm3.sum(axis=0).flat
})

word_count.sort_values('tf-idf', ascending=False).head(5)

        단어     tf-idf
284  movie  44.917213
153   film  40.356390
33     bad  25.258572
225   just  20.296871
178   good  18.604656

In [11]:
# 두 가지 비법으로 만든 TDM의 비교

import numpy as np
np.allclose(tdm.A, tdm3.A)    # allclose : 대부분의 값이 비슷한지, .A : 압축한 값 풀어준다

True

# 한국어 형태소 분석과 웹 스크랩의 기초
# HTTP Basic